# - IDE Ignores
# -----------------------------------------
.idea

# - Composer Ignores
# -----------------------------------------
vendor

# - OS Ignores
# -----------------------------------------
.DS_Store